/* about.styles.css */

* {
  color: black;
  font-family: Consolas, "Courier New", Monaco, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
}

                                      /* temporary */

.outline {
  border: 2px blue solid;
}

                                    /* ---fonts--- */

                                       /* style */
.normal-weight {
  font-weight: normal;
}

                                 /* ---positioning--- */
.name-position {
  margin: 0;
  position: absolute;
  top: 6.4%;
  left: 10.4%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.catchphrase-position {
   margin: 0;
  position: absolute;
  top: 11%;
  left: 13%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);
}

.logo-position {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 25%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);
}

.nav-1-position { /* "home" button navigation position */
  margin: 0;
  position: absolute;
  top: 13%;
  right: 20%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);;
}

.nav-2-position { /* link "portfolio" navigation position */
  margin: 0;
  position: absolute;
  top: 13%;
  right: 9%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);;
}

.nav-3-position { /* link "about" navigation position */
  margin: 0;
  position: absolute;
  top: 13%;
  right: 5%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);;
}

.back-button-position {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 5%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-50%, -50%);
}

                                 /* sizing (weight x height) */
.header-size{
  height: 105px;
}

.nav-button-dimensions { /* sets navigation link button width and height */
  height:40px;
  width:70px;
}

.nav-button-2-dimensions { /* sets navigation link button "portfolio" width and height */
  height:40px;
  width:125px;
}

.nav-button-3-dimensions { /* sets navigation link button "about" width and height */
  height:40px;
  width:80px;
}

                                    /* buttons */

.nav-button-visuals {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 1px 1px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 2px;
  cursor: pointer;
}

.nav-button-visuals:hover {
  background-color: #aec289;
  color: black;
}

.back-button-visuals {  
  background-color: #E5E4E2;
  border: none;
  color: black;
  padding: 1px 1px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 2px;
  cursor: pointer;
}

.back-button-visuals:hover {
  background-color: #aec289;
  color: black;
}

.rounded-style {border-radius: 8px;} /* gives button rounded border*/

